.editor-styles-wrapper,
.editor-styles-wrapper .editor-writing-flow,
.editor-styles-wrapper p,
.editor-styles-wrapper .wp-block p {
  font:   300 20px / 30px "Frank Ruhl Libre", Helvetica, Arial, Verdana, sans-serif;
  word-spacing: normal;
}
.editor-styles-wrapper .wp-block-cover .wp-block-cover-text,
.editor-styles-wrapper .wp-block-cover h2 {
  font:    24px / 34px "Sorts Mill Goudy", Helvetica, Arial, Verdana, sans-serif !important;
  text-transform: none;
}
.text-big,
.dt-accordion-text-big .wpb_accordion_header > a {
  font-size: 20px;
  line-height: 30px;
}
.text-normal,
.dt-accordion-text-normal .wpb_accordion_header > a {
  font-size: 16px;
  line-height: 25px;
}
.text-small,
.dt-accordion-text-small .wpb_accordion_header > a {
  font-size: 13px;
  line-height: 23px;
}
.wp-block-heading h1 {
  font:    44px / 54px "Sorts Mill Goudy", Helvetica, Arial, Verdana, sans-serif;
  text-transform: none;
}
.wp-block-heading h2 {
  font:    34px / 44px "Sorts Mill Goudy", Helvetica, Arial, Verdana, sans-serif;
  text-transform: none;
}
.wp-block-heading h3 {
  font:    24px / 34px "Sorts Mill Goudy", Helvetica, Arial, Verdana, sans-serif;
  text-transform: none;
}
.wp-block-heading h4 {
  font:    20px / 30px "Sorts Mill Goudy", Helvetica, Arial, Verdana, sans-serif;
  text-transform: none;
}
.wp-block-heading h5 {
  font:    16px / 26px "Sorts Mill Goudy", Helvetica, Arial, Verdana, sans-serif;
  text-transform: none;
}
.wp-block-heading h6 {
  font:    14px / 24px "Sorts Mill Goudy", Helvetica, Arial, Verdana, sans-serif;
  text-transform: none;
}
.editor-styles-wrapper .wp-block .wp-block-button .wp-block-button__link {
  font:   bold 14px / 16px "Roboto", Helvetica, Arial, Verdana, sans-serif;
  text-transform: none;
}
