#fancy-header .breadcrumbs.start-animation,
    #fancy-header .fancy-subtitle.start-animation,
    #fancy-header .fancy-title.start-animation {
        font-family: tinos;
        font-weight: 100;
    }

    #contenido-servicios ul.ult_tabmenu.style1.Style_4 a.ult_a {
        border: 1px solid #d2b16e;
        border-radius: 0 !important;
        padding: 5px;
    }

    #contenido-servicios .aio-icon.none.ult_tab_iconright {
        display: none;
    }

    #contenido-servicios .ult_tabmenu.style1 li.ult_tab_li {
        border-radius: 0 !important;
        margin: 0 20px;
    }

    #seccion-servicios {
        background-image: url(/assets/uploads/portada_servicios_ejemplo.jpg);
        background-attachment: fixed;
        background-size: cover;
        background-position: 27% center;
    }

    #seccion-servicios h1 {
        color: white;
        font-size: 62px;
        margin-bottom: 30px;
    }

    #seccion-servicios p {
        text-align: center;
        color: rgba(255, 255, 255, 0.85);
        font-size: 25px;
        font-style: italic;
    }

    .listado_servicios {
        padding: 0 61px;
    }

    .listado_servicios h2 {
        font-size: 28px;
    }

    .listado_servicios p,
    .listado_servicios li {
        font-size: 19px;
        line-height: 1.4;
    }

    .btn_mas_info a {
        background-image: none !important;
        font-size: 16px !important;
    }

    .btn_mas_info a:after {
        content: "\f178";
        font-family: 'Defaults';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        -webkit-font-smoothing: antialiased;
        margin-left: 13px;
        vertical-align: middle;
    }

    @media (max-width: 768px) {
        .listado_servicios {
            padding: 0;
        }
        #seccion-servicios {
            background-attachment: initial !important;
            -ms-background-size: cover;
            -o-background-size: cover;
            -moz-background-size: cover;
            -webkit-background-size: cover;
        }
        #seccion-servicios h1 {
            font-size: 58px !important;
            line-height: 1.1;
        }
    }
    
        .vc_custom_1582842202320 {
        background-color: #f9f6ef !important;
    }

    .vc_custom_1582839747692 {
        margin-top: 35px !important;
        margin-bottom: 60px !important;
    }

    .vc_custom_1582839747692 {
        margin-top: 35px !important;
        margin-bottom: 60px !important;
    }

    .vc_custom_1582839747692 {
        margin-top: 35px !important;
        margin-bottom: 60px !important;
    }

    .vc_custom_1582839747692 {
        margin-top: 35px !important;
        margin-bottom: 60px !important;
    }

    .vc_custom_1582839747692 {
        margin-top: 35px !important;
        margin-bottom: 60px !important;
    }
 . { opacity: 1; }

